<a href="https://colab.research.google.com/github/hyesonglee/song/blob/main/0327.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
x=int(input("Enter a number:"))
if x>0:
   print("positive number")
elif x<0:
  print("negative number")
else:
  print("zero")

Enter a number:3
positive number

In [8]:
age=int(input("enter your age:"))
if age < 18:
  print("you are not eligible to vote")
elif age >= 18 and age < 65:
  print("You are eligible to vote.")
else:
  print("You are eligible to vote, but not required to.")

enter your age:70
You are eligible to vote, but not required to.

In [12]:
score = int(input("Enter your test score:"))
if score >= 90:
  print("You got an A!")
elif score >=80:
  print("You got a B.")
elif score>=70:
  print("You got a C")
elif score>=60:
  print("You got a D.")
else:
  print("You failed the test.")

Enter your test score:97
You got an A!

In [18]:
for i in range(2,10):
  for j in range(1,10):
    print(i*j, end=" ")
  print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [20]:
num=int(input("enter a number:"))
for i in range(1,10):
  print(num, "x",i,"=",num*i)

enter a number:9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [22]:
for i in range(2,10,2):
   print(i)

2
4
6
8

In [27]:
for i in range(1,7):
   print(i)

1 번
2 번
3 번
4 번
5 번
6 번

In [36]:
a = [1,2,3,4]
result = []
for num in a:
  result.append(num*3)
print(result)

[3, 6, 9, 12]

In [29]:
a = [1,2,3,4]
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [30]:
numbers=[1,2,3,4,5,6,7,8,9,10]
squares=[x**2 for x in numbers if x % 2 == 0]
print(squares)

[4, 16, 36, 64, 100]

In [37]:
numbers=[1,2,3,4,5]
squared_numbers=[x**2 for x in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25]

In [38]:
numbers=[1,2,3,4,5]
odd_numbers=[x for x in numbers if x % 2 !=0]
print(odd_numbers)

[1, 3, 5]

In [39]:
names=['Alice','Bob','Charlie']
name_tuples=[(name, len(name)) for name in names]
print(name_tuples)

[('Alice', 5), ('Bob', 3), ('Charlie', 7)]

In [40]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
flattened=[element for row in matrix for element in row]
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
words=['hello','world','python']
upper_words=[word.upper() for word in words]
print(upper_words)

['HELLO', 'WORLD', 'PYTHON']

In [43]:
result=[x*y for x in range(2,10) for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [47]:
treehit=0
while treehit<10:
  treehit = treehit +1
  print("나무를 %d번 찍었습니다."%treehit)
  if treehit == 10:
   print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [50]:
i=1
while i <=10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

In [51]:
sum=0
i=1
while i <= 100:
  sum+= i
  i+= 1
print("The sum of numbers from 1 to 100 is:", sum)

The sum of numbers from 1 to 100 is: 5050

In [52]:
numbers=[]
num = int(input("Enter a number:"))
while num>= 0:
  numbers.append(num)
  num=int(input("enter another number:"))
print("The numbers entered by the user are:",numbers)

Enter a number:7
enter another number:6
enter another number:-8
The numbers entered by the user are: [7, 6]

In [53]:
string = "hello"
i= len(string) -1
while i>= 0:
  print(string[i], end=" ")
  i-= 1

o l l e h